{% extends "site-base.html" %}
{% load staticfiles %}

{% block content %}
    <br><br><br>
    <div class = "container">

         <h3>The Emotion Map</h3>
    <p>This project was developed for the Spring 2016 section of Big Data, a course offered at University of Colorado Boulder. The map
    represents overall emotions of countries obtained from tweets created in the last five minutes that are geotagged and in English. </p>

        <h7>Other Information About This Website</h7>
        <ul><li>this website was deployed using Elastic Beanstalk from AWS</li>
        <li>a boostrap template was used for this website </li>

        </ul>

    </div>




{% endblock %}